section.main > ul > li {
  margin-bottom: 30px;
  padding: 5%;
  overflow: hidden;
}

section.main > ul > li:not(:last-child) {
  border-bottom: 1px solid gray;
}

section.main > ul > li > img {
  width: 300px;
}

img.list-img,
.list-text {
  float: left;
}

.list-img {
  border: 10px solid #000;
  border-bottom: 1px solid #000;
}

.list-text {
  text-align: center;
  margin-left: 5%;
  line-height: 2em;
  width: 500px;
}

.date {
  border-bottom: 2px solid #d8d6d6;
}
